{
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "> 3%",
          "not dead",
          "not android <= 999",
          "not ie <= 999",
          "chrome 75"
        ]
      },
      "debug": true
    }]
  ],
  "plugins": [
    [ "module:@babel/plugin-proposal-object-rest-spread", {
      "useBuiltIns": true
    } ],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
