.icon-class {
  background-image: url('./assets/classes.png');
  background-size: 1100% 600%;
  background-repeat: no-repeat;
  background-position: 90% 60%;
  opacity: 1 !important;
}

$class-matrix: (
  ( 'gla', 'mrd', 'pgl', 'lnc', 'rog', 'arc', 'thm', 'acn', null,  'cnj' ),
  ( 'pld', 'war', 'mnk', 'drg', 'nin', 'brd', 'blm', 'smn', 'sch', 'whm' ),
  ( 'drk', 'mch', 'ast', 'sam', 'rdm' ),
  ( 'acn-pet', 'garuda', 'ifrit', 'titan', 'eos', 'selene', 'rook', 'bishop' ),
  ( 'crp', 'bsm', 'arm', 'gsm', 'ltw', 'wvr', 'alc', 'cul', null,  'chocobo' ),
  ( 'min', 'btn', 'fsh', null,  null,  null,  null,  null,  null,  'limit-break' )
);

$y: 0%;
@each $l in $class-matrix {
  $x: 0%;
  @each $class in $l {
    @if $class != null {
      .icon-class.class-#{$class} {
        background-position: $x $y;
      }
    }
    $x: $x + 10%;
  }
  $y: $y + 20%;
}

$colorset: (
  'kagerou-material': (
    'gauge-default': #444,
    'pld': rgb(21, 28, 100), // Indigo 900 (B -10%)
    'war': rgb(153, 23, 23), // Red 900 (B -10%)
    'drk': rgb(136, 14, 79), // Pink 900
    'mnk': rgb(255, 152, 0), // Orange 500
    'drg': rgb(63, 81, 181), // Indigo 500
    'nin': rgb(211, 47, 47), // Red 700 // 와! 시바! 진성! 닌자다!
    'sam': rgb(255, 202, 40), // Amber 400
    'brd': rgb(158, 157, 36), // Lime 800
    'mch': rgb(0, 151, 167), // Cyan 700
    'smn': rgb(46, 125, 50), // Green 800
    'blm': rgb(126, 87, 194), // Deep Purple 400
    'rdm': rgb(233, 30, 99), // Pink 500
    'whm': rgb(117, 117, 117), // Gray 600
    'sch': rgb(121, 134, 203), // Indigo 300
    'ast': rgb(121, 85, 72), // Brown 500
    'smn-pet': rgba(46, 125, 50, 0.5),
    'sch-pet': rgba(121, 134, 203, 0.5),
    'mch-pet': rgba(0, 151, 167, 0.5),
    'chocobo': #444,
    'limit-break': #444
  ),
  'ikegami-by-role-3': (
    'gauge-default': #444,
    'pld': rgb(0, 139, 201), // Light Blue 800
    'war': rgb(0, 139, 201),
    'drk': rgb(0, 139, 201),
    'mnk': rgb(233, 30, 99), // Pink 400
    'drg': rgb(233, 30, 99),
    'nin': rgb(233, 30, 99),
    'sam': rgb(233, 30, 99),
    'brd': rgb(233, 30, 99),
    'mch': rgb(233, 30, 99),
    'smn': rgb(233, 30, 99),
    'blm': rgb(233, 30, 99),
    'rdm': rgb(233, 30, 99),
    'whm': rgb(114, 223, 28), // Light Green A700
    'sch': rgb(114, 223, 28),
    'ast': rgb(114, 223, 28),
    'smn-pet': rgba(233, 30, 99, 0.5),
    'sch-pet': rgba(114, 223, 28, 0.5),
    'mch-pet': rgba(233, 30, 99, 0.5),
    'chocobo': #444,
    'limit-break': #444
  ),
  'ikegami-by-role-5': (
    'gauge-default': #444,
    'pld': rgb(0, 139, 201), // Light Blue 800
    'war': rgb(0, 139, 201),
    'drk': rgb(0, 139, 201),
    'mnk': rgb(233, 30, 99), // Pink 400
    'drg': rgb(233, 30, 99),
    'nin': rgb(233, 30, 99),
    'sam': rgb(233, 30, 99),
    'brd': rgb(158, 157, 36), // Lime 800
    'mch': rgb(158, 157, 36),
    'smn': rgb(126, 87, 194), // Deep Purple 400
    'blm': rgb(126, 87, 194),
    'rdm': rgb(126, 87, 194),
    'whm': rgb(114, 223, 28), // Light Green A700
    'sch': rgb(114, 223, 28),
    'ast': rgb(114, 223, 28),
    'smn-pet': rgba(233, 30, 99, 0.5),
    'sch-pet': rgba(114, 223, 28, 0.5),
    'mch-pet': rgba(233, 30, 99, 0.5),
    'chocobo': #444,
    'limit-break': #444
  ),
  'mopimopi-default': (
    'gauge-default': #757575,
    'pld': #7B9AA2,
    'war': #A91A16,
    'drk': #682531,
    'mnk': #B38915,
    'drg': #3752D8,
    'nin': #EE2E48,
    'sam': #E45A0F,
    'brd': #ADC551,
    'mch': #148AA9,
    'smn': #32670B,
    'blm': #674598,
    'rdm': #AC2997,
    'whm': #BDBDBD,
    'sch': #32307B,
    'ast': #B1561C,
    'smn-pet': transparentize(#32670B, 0.5),
    'sch-pet': transparentize(#32307B, 0.5),
    'mch-pet': transparentize(#148AA9, 0.5),
    'chocobo': #757575,
    'limit-break': #FFBB00
  ),
  'mopimopi-by-role': (
    'gauge-default': #757575,
    'pld': #475ECE,
    'war': #475ECE,
    'drk': #475ECE,
    'mnk': #813B3C,
    'drg': #813B3C,
    'nin': #813B3C,
    'sam': #813B3C,
    'brd': #813B3C,
    'mch': #813B3C,
    'smn': #813B3C,
    'blm': #813B3C,
    'rdm': #813B3C,
    'whm': #467837,
    'sch': #467837,
    'ast': #467837,
    'smn-pet': transparentize(#813B3C, 0.5),
    'sch-pet': transparentize(#467837, 0.5),
    'mch-pet': transparentize(#813B3C, 0.5),
    'chocobo': #757575,
    'limit-break': #FFBB00
  )
);

$class-remap: (
  'pld': 'gla',
  'war': 'mrd',
  'mnk': 'pgl',
  'drg': 'lnc',
  'brd': 'arc',
  'nin': 'rog',
  'smn': 'acn',
  'blm': 'thm'
);

@each $set in map-keys($colorset) {
  $colors: map-get($colorset, $set);

  .scheme-#{$set} {
    @each $k in map-keys($colors) {
      .class-#{$k} .ticker {
        background-color: map-get($colors, $k);
      }
      $cl: map-get($class-remap, $k);
      @if $cl {
        .class-#{$cl} .ticker {
          background-color: map-get($colors, $k);
        }
      }
    }
  }
}
